.container {
    width: 50%;
    margin: 50px auto;
    padding: 25px;
    border: 7px solid rgb(4, 59, 122);
}

.titulo {
    border: 7px double rgb(16, 120, 238);
    background-color: rgba(100, 154, 240, 0.295);
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(199, 34, 8);
}

.subtitulo {
    border: 7px double rgb(16, 120, 238);
    background-color: rgb(132, 196, 255);
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.form {
    border: 7px double rgb(16, 120, 238);
    background-color: rgba(100, 154, 240, 0.295);
    display: flex;
    padding: 5px;
    margin: 10px 0;
}

.form__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form__label {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 10px;
    font-weight: bold;
}

.form__left {
    display: flex;
    margin-right: 10px;
}

.form__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.titulocheckbox {
    width: 100%;
    font-weight: bold;
    border-bottom: 2px solid rgb(16, 120, 238);
}

.checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.radio {
    width: 30%;
}

[type="text"],
[type="email"] {
    width: 100%;
    outline: none;
}